﻿@model MVCC.Website.Models.AppointmentViewModel
@{
    ViewBag.Title = "Index";
}

<h2>My Appointments</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Patient")
        </th>
        <th>
            @Html.DisplayName("Date")
        </th>
        <th>
            @Html.DisplayName("Time")
        </th>

        <th>
            @Html.DisplayName("Option")
        </th>
    </tr>
    
    @foreach (var item in Model.Appointments)
    {
        <tr>
            <td>@item.Patient.FullName</td>
            <td>@item.AppointmentDate.ToShortDateString()</td>
            <td>@item.AppointmentDate.ToShortTimeString()</td>
            <td>
                @if (!item.IsApproved) { 
                    @Html.ActionLink("Approve", "Approve", "Appointment", new { id = item.Id }, new { @class = "btn btn-primary" })
                }
                 @Html.ActionLink("Set Date", "SetDate", "Appointment", new { id = item.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "", "Appointment", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>