﻿@model MVCC.Website.Models.AppointmentSetDateViewModel
@{
    ViewBag.Title = "SetDate";
}

<h2>SetDate</h2>
@using (Html.BeginForm("SetDate", "Appointment", FormMethod.Post))
{
    @Html.Hidden("Id",Model.Id)
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Date, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Date, new { @class = "form-control datepicker", Value = "" + Model.Date.ToShortDateString() })
            @Html.ValidationMessageFor(model => model.Date)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Time, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Time, new { @class = "form-control timepicker", Value = "" + Model.Time.ToShortTimeString() })
            @Html.ValidationMessageFor(model => model.Time)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Create" />
        </div>
    </div>

}
@section Scripts {
    <script type="text/javascript">
        $(function() { // will trigger when the document is ready
            $('.datepicker')
                .datepicker(
                    {
                        defaultDate: new Date().getDate()
                    }
                ); //Initialise any date pickers

            $('.timepicker').timepicker();
        });
    </script>
}