﻿@using Microsoft.AspNet.Identity
@model MVCC.Website.Models.MessageIndexViewModel
@{
    ViewBag.Title = "Index";
}

<style>
    .inputbox {
         width: 100%;
            padding: 0;
            margin: 0;
            -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: transparent;
            resize: none;
    }
</style>

<h2>My Chats</h2>
<div class="panel panel-primary row">
    <div class="panel-heading">
        @Model.FullName
    </div>
    <div class="panel-body" id="containermessage" style="height: 350px; overflow: auto">
        @foreach (var item in Model.Messages)
        {
           <div class="panel panel-info">
                <div class="panel-heading">
                    <div style="float: right">
                        @item.DateSent.ToShortDateString() &nbsp; @item.DateSent.ToShortTimeString()
                    </div>

                    <div style="float: left">
                        @(item.FromId.ToString() == HttpContext.Current.User.Identity.GetUserId() ? "Me : " : Model.FullName + " : ")
                    </div>
                    @item.Context
                </div>   
            </div>
        }
    </div>
    <div class="panel-footer">
        <textarea class="inputbox" placeholder="Enter Message"></textarea>
    </div>
</div>

<script>
    setTimeout(function () {
        window.location.reload(1);
    }, 5000);
</script>



@*<table class="table" id="mytable">*@
@*    *@
@*</table>*@
@**@
@*<script>*@
@*        $(function() {*@
@*            var chat = $.connection.chatHub;*@
@*            $.connection.hub.start()*@
@*                .done(*@
@*                    function() {*@
@*                        var list = chat.server.getMessage();*@
@*                        if (list != null) {*@
@*                            list.forEach(function(item, index) {*@
@*                                $('#mytable').append(row(item.name, item.context, item.dateSent));*@
@*                            });*@
@*                        }*@
@*                    });*@
@*        });*@
@**@
@**@
@*        function row(name,content,date) {*@
@*            return '<tr>' +*@
@*                '<td>' +*@
@*                '<div class="panel panel-default">' +*@
@*                '<div class="panel-heading">' + name +'</div>' +*@
@*                '<div class="panel-body">' + content + '</div>' +*@
@*                '<div class="panel-footer">' + date + '</div>' +*@
@*                '</div></td></tr>';*@
@*        }*@
@*</script>*@


