﻿@model MVCC.Website.Models.RoleViewModel
@{
    ViewBag.Title = "Create";
}
<h2>Create.</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Role.</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                Select Role Claims
            </label>
            <div class="col-md-10">
                @foreach (var item in (SelectList)ViewBag.ClaimId)
                {
                    <div>
                        <input type="checkbox" name="SelectedClaims" value="@item.Value" class="checkbox-inline" id="@item.Value" />
                        @Html.Label(item.Text, new { @class = "control-label", @for = item.Value })
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}