﻿@model MVCC.Model.Entities.ApplicationRole
@{
    ViewBag.Title = "Details";
}
<h2>Details.</h2>
<div>
    <h4>Roles.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<h4>List of claims for this role</h4>
@if (ViewBag.ClaimCount == 0)
{
    <hr />
    <p>No claims found for this role.</p>
}
<table class="table">
    @foreach (var item in ViewBag.Claims)
    {
        <tr>
            <td>
                @item.ToString()
            </td>
        </tr>
    }
</table>
<h4>List of users in this role</h4>
@if (ViewBag.UserCount == 0)
{
    <hr />
    <p>No users found in this role.</p>
}
<table class="table">
    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <td>
                @item.UserName
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>