﻿<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Text</p>
</div>

<div class="row">
    <div class="col-sm-6">
        <a href="@Url.Action("LyndaJackson")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Lynda Jackson Macmillan Centre</div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="@Url.Action("FAQ")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">FAQ's for Patients and Visitors by Patients and Visitors</div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <a href="@Url.Action("HowToChangeAppointment")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">How to chanmge your appointment</div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="@Url.Action("UsefulLinks")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Useful Links</div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <a href="@Url.Action("OutOfHours")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">What to do Out of Hours</div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="@Url.Action("VideoDiaries")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Patient Video Diaries</div>
            </div>
        </a>
    </div>
</div>