﻿@model MVCC.Website.Models.AssignPatientViewModel
@{
    ViewBag.Title = "Assign";
}

<h2>Assign Users</h2>

@using (Html.BeginForm("Assign", "Assign", FormMethod.Post))
{

    <div class="form-group">
        @Html.LabelForModel(Model.Patient.Name) &nbsp;&nbsp; @Html.LabelForModel(Model.Patient.Email)
    </div>
    @Html.Hidden("patientId",Model.Patient.Id.ToString())
    <div class="form-group">
        @Html.DisplayText("Doctors")
        @Html.DropDownList("doctorId",new SelectList(Model.DoctorsList,"Id","Fullname"),"Select Your Doctor", new { @class = "form-control" })
    </div>

    <button type="submit" value="Submit" class="btn btn-default">Assign Doctor</button>

}



