﻿@model MVCC.Website.Models.AssignIndexViewModel
@{
    ViewBag.Title = "Index";
}
<h2>Assign Users</h2>
<table class="table">
    <tr>
        <th>Patients Name</th>
        <th>Patients Email</th>
        <th>Assigned Doctors Name</th>
        <th>Assigned Doctors Email</th>
        <th>Options</th>
    </tr>
    @foreach(var Patient in Model.PatientsList)
    {
        <tr>
            <td>@Html.DisplayFor(p => Patient.Name)</td>
            <td>@Html.DisplayFor(p => Patient.Email)</td>
            <td>
                @(Patient.AssignUser != null ? Html.DisplayFor(p => Patient.AssignUser.Name) : Html.Display(""))
            </td>
            <td>
                @(Patient.AssignUser != null ? Html.DisplayFor(p => Patient.AssignUser.Email) : Html.Display(""))
            </td>

            <td>
                @Html.ActionLink("Assign", "Assign", new { id = Patient.Id })
            </td>
        </tr>
    }
</table>

