﻿<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Text</p>
</div>

<div class="row">
    <div class="col-sm-6">
        <a href="@Url.Action("DirectionsAndTravel")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Directions and Travel</div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="@Url.Action("CarParking")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Car Parking</div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <a href="@Url.Action("VisitorFacilities")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Visitor Services and Facilities</div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="@Url.Action("YourVisit")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Your Visit</div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <a href="@Url.Action("Site")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">MVCC Site</div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="@Url.Action("Partners")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Our Partners on Site</div>
            </div>
        </a>
    </div>
</div>