﻿@using PagedList
@using PagedList.Mvc
@model MVCC.Website.Models.ProfileDiscussionViewModel

@{
    ViewBag.Title = "Discussion";
}

<h2>My Dashbaord</h2>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Date Created
        </th>
        <th>
            Category
        </th>
        <th>
            Options
        </th>
        
    </tr>

@foreach (var item in Model.Discussions) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit","Forum", new { id=item.Id },new { @class = "btn btn-info"})
            @Html.ActionLink("Details", "Discussion", "Forum", new { id=item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", "Forum", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>

@Html.PagedListPager((IPagedList)Model.Discussions, page => Url.Action("Discussions",
   new { page }))