﻿<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Text</p>
</div>

<div class="row">
    <div class="col-sm-6">
        <a href="@Url.Action("Volunteering")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Volunteering</div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="@Url.Action("NewsAndEvents")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">News and Events</div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <a href="@Url.Action("Charity")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Mount Vernon Cancer Centre Charity</div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="@Url.Action("Feedback")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Give your Feedback</div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <a href="@Url.Action("PastEvents")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Past Events</div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="@Url.Action("ContactUs")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Contact Us</div>
            </div>
        </a>
    </div>
</div>