﻿@model MVCC.Website.Models.TestIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create",null,new { @class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @("Name")
        </th>
        <th>
            @("Message")
        </th>
        <th>
            @("Color")
        </th>
        <th>
            @("Date")
        </th>

    </tr>

@foreach (var item in Model.Tests) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.FullName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @if ((item.Color == 0))
            {
                @Html.Label("Orange", new { @class = "text-danger" })
            }
            else
            {
                @Html.Label("Green",new { @class = "text-success"})
            }
        </td>
        <td>
            @Html.Label(item.TestDate.ToShortDateString(), new { @class = "label-control" })
        </td>

        
    </tr>
}
</table>