﻿@model MVCC.Website.Models.CategoryIndexViewModel
@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>
<h5>Deleting Category will Delete All the Discussions Related to It</h5>
@Html.ActionLink("Create Category","Create",null,new { @class = "btn btn-primary"})
<br/>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Date Created</th>
    </tr>
    @foreach (var item in Model.Categories)
    {
        <tr>
            <th>@item.Name</th>
            <th>@item.DateCreated.ToShortDateString()</th>
            <th>
                @Html.ActionLink("Edit", "Update", new { id = item.Id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete","Delete",new { id = item.Id},new { @class = "btn btn-info"})
            </th>
        </tr>
    }
</table>

