﻿@model MVCC.Website.Models.CategoryUpdateViewModel
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
@using (Html.BeginForm("Update", "Category", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("Id",Model.Id)
    
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Category.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("Name",null, new { @class = "form-control" , Value = Model.Category.Name })
            @Html.ValidationMessageFor(model => model.Category.Name)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Update" />
        </div>
    </div>

}

