﻿@using MVCC.Model.Entities
@using MVCC.Web.Shared.Extensions
@using MVCC.Website.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a class="mount-vernon-logo" href="@Url.Action("Index", "Home")">
                <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
            </a>
        </div>
        <div class="col-md-6">
            <a class="nhs-logo" href="http://www.enherts-tr.nhs.uk/">
                <img class="img-responsive" src="@Url.Content("~/Content/Images/ENHLogo.jpg")" />
            </a>
        </div>
    </div>
</div>
<div class="navbar navbar-inverse navbar-static-top ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown @Html.IsControllerActive("Treatments")">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Treatments
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="@Html.IsActive("Treatments", "Radiotherapy")">
                            @Html.ActionLink("Radiotherapy", "Radiotherapy", "Treatments")
                        </li>
                        <li class="@Html.IsActive("Treatments", "Chemotherapy")">
                            @Html.ActionLink("Chemotherapy", "Chemotherapy", "Treatments")
                        </li>
                        <li class="@Html.IsActive("Treatments", "NuclearMedicine")">
                            @Html.ActionLink("Nuclear Medicine", "NuclearMedicine", "Treatments")
                        </li>
                        <li class="@Html.IsActive("Treatments", "Brachytherapy")">
                            @Html.ActionLink("Brachytherapy", "Brachytherapy", "Treatments")
                        </li>
                        <li class="@Html.IsActive("Treatments", "Cyberknife")">
                            @Html.ActionLink("Cyberknife", "Cyberknife", "Treatments")
                        </li>
                        <li class="@Html.IsActive("Treatments", "Research")">
                            @Html.ActionLink("Research", "Research", "Treatments")
                        </li>
                    </ul>
                </li>
                <li class="dropdown @Html.IsControllerActive("Visiting")">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Visiting
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="@Html.IsActive("Visiting", "DirectionsAndTravel")">
                            @Html.ActionLink("Directions and Travel", "DirectionsAndTravel", "Visiting")
                        </li>
                        <li class="@Html.IsActive("Visiting", "CarParking")">
                            @Html.ActionLink("Car Parking", "CarParking", "Visiting")
                        </li>
                        <li class="@Html.IsActive("Visiting", "VisitorFacilities")">
                            @Html.ActionLink("Visitor Services and Facilities", "VisitorFacilities", "Visiting")
                        </li>
                        <li class="@Html.IsActive("Visiting", "YourVisit")">
                            @Html.ActionLink("Your Visit", "YourVisit", "Visiting")
                        </li>
                        <li class="@Html.IsActive("Visiting", "Site")">
                            @Html.ActionLink("MVCC Site", "Site", "Visiting")
                        </li>
                        <li class="@Html.IsActive("Visiting", "Partners")">
                            @Html.ActionLink("Our Partners on Site", "Partners", "Visiting")
                        </li>
                    </ul>
                </li>
                <li class="dropdown @Html.IsControllerActive("Help")">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Help
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="@Html.IsActive("Help", "LyndaJackson")">
                            @Html.ActionLink("Lynda Jackson Macmillan Centre", "LyndaJackson", "Help")
                        </li>
                        <li class="@Html.IsActive("Help", "FAQ")">
                            @Html.ActionLink("FAQ", "FAQ", "Help")
                        </li>
                        <li class="@Html.IsActive("Help", "HowToChangeAppointment")">
                            @Html.ActionLink("How to Change your Appointment", "HowToChangeAppointment", "Help")
                        </li>
                        <li class="@Html.IsActive("Help", "UsefulLinks")">
                            @Html.ActionLink("Useful Links", "UsefulLinks", "Help")
                        </li>
                        <li class="@Html.IsActive("Help", "OutOfHours")">
                            @Html.ActionLink("What to do Out of Hours", "OutOfHours", "Help")
                        </li>
                        <li class="@Html.IsActive("Help", "VideoDiaries")">
                            @Html.ActionLink("Patient Video Diaries", "VideoDiaries", "Help")
                        </li>
                    </ul>
                </li>
                <li class="dropdown @Html.IsControllerActive("Supporting")">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Supporting a Patient
                        <span class="caret"></span>
                    </a>
                </li>
                <li class="dropdown @Html.IsControllerActive("Involved")">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Get Involved
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="@Html.IsActive("Involved", "Volunteering")">
                            @Html.ActionLink("Volunteering", "Volunteering", "Involved")
                        </li>
                        <li class="@Html.IsActive("Involved", "NewsAndEvents")">
                            @Html.ActionLink("News and Events", "NewsAndEvents", "Involved")
                        </li>
                        <li class="@Html.IsActive("Involved", "Charity")">
                            @Html.ActionLink("Mount Vernon Cancer Centre Charity", "Charity", "Involved")
                        </li>
                        <li class="@Html.IsActive("Involved", "Feedback")">
                            @Html.ActionLink("Give your Feedback", "Feedback", "Involved")
                        </li>
                        <li class="@Html.IsActive("Involved", "PastEvents")">
                            @Html.ActionLink("Past Events", "PastEvents", "Involved")
                        </li>
                        <li class="@Html.IsActive("Involved", "ContactUs")">
                            @Html.ActionLink("Contact Us", "ContactUs", "Involved")
                        </li>
                    </ul>
                </li>
                <li class="dropdown @Html.IsControllerActive("Education")">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Education Centre
                        <span class="caret"></span>
                    </a>
                </li>
                <li class="dropdown @Html.IsControllerActive("Forum")">
                    @Html.ActionLink("Forum", "Index", "Forum")
                    <span class="caret"></span>
                    <ul class="dropdown-menu">
                        <li class="@Html.IsActive("Involved", "Volunteering")">
                            @Html.ActionLink("Volunteering", "Volunteering", "Involved")
                        </li>
                    </ul>
                </li>
                    
                @if(Request.IsAuthenticated) { 
                <li class="@Html.IsControllerActive("Profile")">
                    @Html.ActionLink("My Dashboard", "Discussion", "Profile")
                </li>
                }
                
                @if (User.IsInRole("Doctor"))
                {
                    <li class="dropdown @Html.IsControllerActive("UsersAdmin", "RolesAdmin")">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Doctor
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="@Html.IsControllerActive("Appointment")">
                                @Html.ActionLink("My Appointments", "Index", "Appointment")
                            </li>
                            <li class="@Html.IsControllerActive("Test")">
                                @Html.ActionLink("Tests", "Index", "Test")
                            </li>
                            <li class="@Html.IsControllerActive("Patient")">
                                @Html.ActionLink("My Patients", "Index", "Patient")
                            </li>
                            <li class="@Html.IsControllerActive("Message")">
                                @Html.ActionLink("My Chat", "Index", "Message")
                            </li>
                            <li class="@Html.IsControllerActive("Category")">
                                @Html.ActionLink("Categories", "Index", "Category")
                            </li>



                        </ul>
                    </li>
                }
                @if (User.HasRoleClaim(RoleClaim.CanCreateUsers | RoleClaim.CanReadUsers | RoleClaim.CanUpdateUsers | RoleClaim.CanDeleteUsers | RoleClaim.CanCreateRoles | RoleClaim.CanReadRoles | RoleClaim.CanUpdateRoles | RoleClaim.CanDeleteRoles) | User.IsInRole("Admin"))
                {
                    <li class="dropdown @Html.IsControllerActive("UsersAdmin", "RolesAdmin")">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Admin
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="@Html.IsControllerActive("UsersAdmin")">
                                    @Html.ActionLink("Users", "Index", "UsersAdmin")
                                </li>
                                <li class="@Html.IsControllerActive("RolesAdmin")">
                                    @Html.ActionLink("Roles", "Index", "RolesAdmin")
                                </li>
                                <li class="@Html.IsControllerActive("Approve")">
                                    @Html.ActionLink("Approve", "Index", "Approve")
                                </li>
                                <li class="@Html.IsControllerActive("Assign")">
                                    @Html.ActionLink("Assign", "Index", "Assign")
                                </li>
                                <li class="@Html.IsControllerActive("Event")">
                                    @Html.ActionLink("Event", "Index", "Event")
                                </li>
                                <li class="@Html.IsControllerActive("Category")">
                                    @Html.ActionLink("Categories", "Index", "Category")
                                </li>


                            }

                        </ul>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <div class="row">
            <div class="col-sm-6">
                <p>MVCC Charity</p>
                <p>Find your Consultant</p>
                <p>Working at Mount Vernon Cancer Centre</p>
            </div>
            <div class="col-sm-6">
                <p>
                    <a href="https://www.facebook.com/MVCCNHS" target="_blank">Facebook</a>
                </p>
                <p>
                    <a href="https://twitter.com/enherts" target="_blank">Twitter</a>
                </p>
                <p>&copy; @DateTime.Now.Year - Mount Vernon Cancer Centre</p>
            </div>
        </div>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/signalr/hubs"></script>
@RenderSection("scripts", false)
    

@if (TempData.ContainsKey("Message"))
{
    <script>
        function box() {
            var dialog = bootbox.dialog({
                message: '<p class="text-center">@TempData["Message"].ToString()</p>',
                closeButton: true
            });
            window.setTimeout(function () {
                bootbox.hideAll();
            }, 1500);
        }


        $(document)
            .ready(function() {
                box();
            });
     </script>
}

    
@if (Request.IsAuthenticated)
{
    <style>
        .chat_box {
            cursor: pointer;
            position: fixed;
            bottom: 0;
            right: 20px;
            background: white;
            z-index: 3;
        }
        .chat_box * .panel-body {
            width: 250px;
            height: 350px;
        }

        .msg_box * .panel-body {
            width: 250px;
            height: 300px;
        }

        .users {
            position: relative;
        }
        .msg_box {
            position: fixed;
            bottom: 0;
            font-size: 12px;
            cursor: pointer;
            right: 290px;
            z-index: 2;
        }

        .box {
            width: 100%;
            padding: 0;
            margin: 0;
            -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: transparent;
            resize: none;
        }

        .msg_box * .panel-footer {
            padding: 0;
            
        }

        .msg_mine {
            margin-left: 20px;
        }
        .msg_not_min {
            margin-right: 20px;
        }
    </style>
    <div class="chat_box" id="afterbox">
        <div class="panel panel-primary">
            <div class="panel-heading" style="" id="chat_head">
                My Patients
            </div>
            <div class="panel-body" id="chat_body">
                <div class="users">
                    Patient 1
                </div>
            </div>
        </div>
    </div>
   
    <script>
        $(document)
            .ready(function() {

                $.get("/MVCC/Custom/MyPatients",
                    function (data, status) {
                        getData(data, status);
                    });
                $("#chat_body").slideToggle();

                $("#chat_head")
                    .click(function() {
                        $("#chat_body").slideToggle();
                    });
                $(".msg_head")
                    .click(function() {
                        $(".msg_body").slideToggle();
                    });
                $(".close")
                    .click(function() {
                        $(".msg_box").hide();
                    });
                
                $("textarea")
                    .keypress(function(e) {
                        if (e.keyCode === 13) {
                            if ($("textarea").val() !== "") {
                                $("#msg_container")
                                    .append(
                                        "<div class=\"panel msg_mine panel-success\"><div class=\"panel-heading\">" +
                                        $("textarea").val() +
                                        "</div></div>"
                                    );
                                $("textarea").val("");
                            }
                        }
                    });
                

            });

        function getData(data, status) {
            if (status === "success") {
                list = $.parseJSON(($.toJSON(data)));
                $("#chat_body").empty();
                for (var i = 0; i < list.length; i++) {
                    $("#chat_body").append('<div class="users"><a href="/MVCC/Message?id=' + list[i].Id + '">' + list[i].FullName + '</a></div>');
                }
            }
        }
        
        
        var list = null;
        function stringbox(id, name) {
            return '<div class="msg_box">' +
                '<div class="panel panel-primary">' +
                '<div class="panel-heading msg_head">' +
                '<div class="close" style="float: right">X</div>' +
                name +
                '</div>' +
                '<div class="panel-body msg_body" style="overflow: auto" id="msg_container_' + id + '">' +
                '</div>' +
                '<div class="panel-footer msg_body">' +
                '<textarea class="box" placeholder="Enter Message" rows="2"></textarea>' +
                '</div>' +
                '</div>' +
                '</div>';
        }

        function mine(msg) { return '<div class="panel msg_mine panel-success">' +
            '<div class="panel-heading">' + msg +'</div>' +
            '</div>';
        }
        function notmine(msg) {
            return '<div class="panel msg_not_mine panel-success">' +
                '<div class="panel-heading">' + msg + '</div>' +
                '</div>';
        }
        
    </script>
}

    
</body>

</html>