﻿<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Text</p>
</div>

<div class="row">
    <div class="col-sm-6">
        <a href="@Url.Action("Radiotherapy")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Radiotherapy</div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="@Url.Action("Chemotherapy")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Chemotherapy</div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <a href="@Url.Action("NuclearMedicine")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Nuclear Medicine</div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="@Url.Action("Brachytherapy")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Brachytherapy</div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <a href="@Url.Action("Cyberknife")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Cyberknife</div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="@Url.Action("Research")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Research</div>
            </div>
        </a>
    </div>
</div>