﻿@model MVCC.Website.Models.PatientViewModel
@{
    ViewBag.Title = "Index";
}

<h2>My Patients</h2>
<table class="table">
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Options</th>
    </tr>
    @foreach (var item in Model.Patients)
    {
        <tr>
            <td>@(item.Name)</td>
            <td>@(item.FullName)</td>
            <td>
                @Html.ActionLink("Message", "Chat","Message", new {id = item.Id}, new { @class="btn btn-default"})
                @Html.ActionLink("Create Test", "Create", "Test", new { patientId = item.Id }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }
</table>

