﻿@using System.Web.UI.WebControls
@using PagedList
@using PagedList.Mvc
@model MVCC.Website.Models.DiscussionViewModel
@{
    ViewBag.Title = "Discussion";
}

<h2>Discussion : @Model.Name</h2>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="left">
                @Model.CreaterName : @Model.DateCreated.ToShortDateString()
            </div>
        </div>
        <div class="panel-body">
            @Model.Description
        </div>
    </div>
</div>
<br/>
Page @(Model.PageCount < Model.Page ? 0 : Model.Page) of @Model.PageCount
<div class="container">
    @foreach (var item in Model.Comments)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="left">
                    @item.Commenter.Name : @item.CommentedDate.ToShortDateString()
                </div>
            </div>
            <div class="panel-body">
                @item.Context
            </div>
        </div>
    }
</div>

@if(Request.IsAuthenticated)
{
    <div class="container">
        <div class="panel panel-body">
            @using (Html.BeginForm("Comment", "Forum", FormMethod.Post))
            {
                @Html.Hidden("DiscussionId", @Model.Id)
                
                @Html.TextArea("Context", new { @class = "form-control", PlaceHolder = "Enter Your Comment" })
                <br />
                <button type="submit" class="btn btn-primary">Comment</button>
            }
        </div>
    </div>
}

@Html.PagedListPager((IPagedList)Model.Comments, page => Url.Action("Discussion",
   new { page, id = Model.Id }))
