﻿@using PagedList
@using PagedList.Mvc
@model MVCC.Website.Models.ForumCategoryViewModel
@{
    ViewBag.Title = "ForumCategory";
}

<h2>ForumCategory</h2>

@Html.ActionLink("Create Discussion","Create","Forum",null, new { @class = "btn btn-primary" })
<br/>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Created By</th>
        <th>Date Created</th>
    </tr>
    @foreach (var item in Model.Discussions)
    {
        <tr>
            <td>@Html.ActionLink(item.Name,"Discussion",new { id = item.Id })</td>
            <td>
                @(item.Description.Length > 30 ? item.Description.Substring(0,27) + "..." : item.Description)
            </td>
            <td>
                @item.Creater.FullName
            </td>
            <td>@item.DateCreated</td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model.Discussions, page => Url.Action("Index",new { page }))