﻿@using PagedList
@using PagedList.Mvc
@model MVCC.Website.Models.ForumIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Forums</h2>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
<table class="table">
    <tr>
        <th>Category</th>
        <th>Date Created</th>
        <th>Post Count</th>
    </tr>
    @foreach (var item in Model.Models)
    {
        <tr>
            <th>@Html.ActionLink(item.Category.Name,"ForumCategory","Forum",new { Id = item.Category.Id },new { @class = "link" })</th>
            <th>@item.Category.DateCreated.ToShortDateString()</th>
            <th>@item.Count</th>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList) Model.Models, page => Url.Action("Index",
    new { page }))