﻿@model MVCC.Website.Models.EventRegsiterViewModel
@{
    ViewBag.Title = "Create Event";
}

<h2>Create Event</h2>

@using (Html.BeginForm("Create", "Event", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.DateCreated)
    <hr />
    
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Location, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Location)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DateofEvent, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DateofEvent, new { @class = "form-control datepicker" , Value = "" + DateTime.Today.ToShortDateString() })
            @Html.ValidationMessageFor(model => model.DateofEvent)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Create" />
        </div>
    </div>

}

@section Scripts {
<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker(
            {
                    defaultDate: new Date().getDate()
            }
        ); //Initialise any date pickers
    });
</script>

}
