﻿@model MVCC.Website.Models.EventViewModel
@{
    ViewBag.Title = "Event Info Page";
}

<h2>Events</h2>
<div>
    @Html.ActionLink("Create Event", "Create", null, new { @class = "btn btn-primary" })
</div>
<br/>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Time of Event</th>
        <th>Options</th>
    </tr>
    @foreach (var item in Model.Events)
    {
        <tr>
            <td>@(item.Name)</td>
            <td>@(item.Description)</td>
            <td>@(item.Location)</td>
            <td>@(item.DateofEvent.ToShortDateString())</td>
            <td>
                @Html.ActionLink("Update", "Update", new { id = item.Id}, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id}, new { @class = "btn btn-danger" })

            </td>
            
        </tr>
    }
</table>


