﻿<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">A well renowned, highly specialised cancer centre based in Northwood in Middlesex.</p>
</div>

<div class="row">
    <div class="col-sm-6">
        <a href="@Url.Action("Treatments")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Treatments</div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="@Url.Action("Visiting")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Visiting Mount Vernon Cancer Centre</div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <a href="@Url.Action("Help")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Where to go for Help/FAQ's</div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="@Url.Action("Supporting")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Supporting Someone with Cancer</div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <a href="@Url.Action("GetInvolved")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Get Involved</div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="@Url.Action("Education")">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/MVCCLogo.jpg")" />
                </div>
                <div class="panel-heading">Mount Vernon Cancer Education Centre</div>
            </div>
        </a>
    </div>
</div>